<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dojo Survey</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
  <div class="container border rounded mt-3">
    <h1>Submitted Info</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="row">Name:</th>
          <td>@ViewBag.name</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Dojo Location:</th>
          <td>@ViewBag.location</td>
        </tr>
        <tr>
          <th scope="row">Favorite Language:</th>
          <td>@ViewBag.language</td>
        </tr>
        <tr>
          <th scope="row">Comment (optional):</th>
          @if (!string.IsNullOrEmpty(ViewBag.comment))
            {
              <td>@ViewBag.comment</td>
            }
            else
            {
              <td><em>No Comment</em></td>
            }
        </tr>
      </tbody>
    </table>
    <a href="" class="btn btn-primary mb-3">Go Back</a>
  </div>
<script src="script.js"></script>
</body>
</html>